In [1]:
import polars as pl
import numpy as np
import requests

In [2]:
tkv_df = pl.read_csv('all_tkv.csv', schema_overrides={'project_id': pl.String})

In [3]:
tkv_df.columns

['transaction_id',
 'created',
 'updated',
 'instrument_id',
 'project_id',
 'display_name',
 'value']

In [4]:
tkv_df['display_name'].unique()

shape: (34,)
Series: 'display_name' [str]
[
	"Dataset Type (DMS)"
	"Number of Scans (DMS)"
	"Tag1"
	"Tag"
	"Experiment Name (DMS)"
	…
	"Session ID (PNCC)"
	"Session ID (Krios)"
	"Microscope Run Start Date (PNC…
	"Dataset Name (DMS)"
	"Separation Type (DMS)"
]

In [5]:
pivoted_df = tkv_df[['transaction_id','display_name','value']].pivot(index='transaction_id', columns='display_name', values='value', aggregate_function='first')

/var/folders/zj/15rg7d7j4v9b5cj3mlzqz9xc0000gn/T/ipykernel_92974/2412600687.py:1: DeprecationWarning: The argument `columns` for `DataFrame.pivot` is deprecated. It has been renamed to `on`.
  pivoted_df = tkv_df[['transaction_id','display_name','value']].pivot(index='transaction_id', columns='display_name', values='value', aggregate_function='first')

In [6]:
pivoted_df = pivoted_df[['transaction_id','Dataset (DMS)', 'Organism', 'Taxonomy ID (NCBI)', 'Tag']]

In [7]:
pivoted_df = pivoted_df.rename({'Dataset (DMS)': 'dataset_name', 'Organism': 'organism', 'Taxonomy ID (NCBI)': 'taxonomy_id', 'Tag': 'description'})

In [8]:
pivoted_df

shape: (1_916_112, 5)
┌────────────────┬─────────────────────────────────┬──────────────┬─────────────┬─────────────┐
│ transaction_id ┆ dataset_name                    ┆ organism     ┆ taxonomy_id ┆ description │
│ ---            ┆ ---                             ┆ ---          ┆ ---         ┆ ---         │
│ i64            ┆ str                             ┆ str          ┆ str         ┆ str         │
╞════════════════╪═════════════════════════════════╪══════════════╪═════════════╪═════════════╡
│ 778524         ┆ PSA1000pg_1st_D_500ugserum_fra… ┆ Homo_sapiens ┆ 9606        ┆ null        │
│ 1223630        ┆ 2017_04_13_Kyle_I_Tannic_AGW_K… ┆ None         ┆ None        ┆ null        │
│ 1008331        ┆ QC_CHECKpreclean_23Jun15_r5     ┆ Homo_sapiens ┆ 9606        ┆ null        │
│ 924881         ┆ OMICS_WLN002_mock_pool_12_18De… ┆ Homo_sapiens ┆ 9606        ┆ null        │
│ 924880         ┆ OMICS_WLN002_mock_pool_12_18De… ┆ Homo_sapiens ┆ 9606        ┆ null        │
│ …              ┆ …                               ┆ …            ┆ …           ┆ …           │
│ 1239692        ┆ null                            ┆ null         ┆ null        ┆ null        │
│ 270313         ┆ null                            ┆ null         ┆ null        ┆ null        │
│ 221748         ┆ null                            ┆ null         ┆ null        ┆ null        │
│ 1136247        ┆ null                            ┆ null         ┆ null        ┆ null        │
│ 1136631        ┆ null                            ┆ null         ┆ null        ┆ null        │
└────────────────┴─────────────────────────────────┴──────────────┴─────────────┴─────────────┘

In [9]:
tkv_df = tkv_df[['transaction_id', 'created', 'updated', 'instrument_id', 'project_id']]

In [10]:
tkv_df = tkv_df.group_by('transaction_id', 'created', 'updated', 'instrument_id', 'project_id').agg()

In [11]:
tkv_cleaned_df = pivoted_df.join(tkv_df, on='transaction_id', how='left')

In [12]:
tkv_cleaned_df

shape: (1_916_112, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ dataset_n ┆ organism  ┆ taxonomy_ ┆ … ┆ created   ┆ updated   ┆ instrumen ┆ project_ │
│ on_id     ┆ ame       ┆ ---       ┆ id        ┆   ┆ ---       ┆ ---       ┆ t_id      ┆ id       │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ str       ┆ str       ┆ ---       ┆ ---      │
│ i64       ┆ str       ┆           ┆ str       ┆   ┆           ┆           ┆ i64       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 778524    ┆ PSA1000pg ┆ Homo_sapi ┆ 9606      ┆ … ┆ 13/6/2015 ┆ 4/10/2018 ┆ 34215     ┆ 48505    │
│           ┆ _1st_D_50 ┆ ens       ┆           ┆   ┆ 10:10:30  ┆ 08:12:09  ┆           ┆          │
│           ┆ 0ugserum_ ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ fra…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1223630   ┆ 2017_04_1 ┆ None      ┆ None      ┆ … ┆ 17/4/2017 ┆ 17/4/2017 ┆ 34011     ┆ 49712    │
│           ┆ 3_Kyle_I_ ┆           ┆           ┆   ┆ 16:05:08  ┆ 16:05:08  ┆           ┆          │
│           ┆ Tannic_AG ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ W_K…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1008331   ┆ QC_CHECKp ┆ Homo_sapi ┆ 9606      ┆ … ┆ 21/5/2016 ┆ 21/5/2016 ┆ 34234     ┆ 48505    │
│           ┆ reclean_2 ┆ ens       ┆           ┆   ┆ 20:23:30  ┆ 20:23:30  ┆           ┆          │
│           ┆ 3Jun15_r5 ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 924881    ┆ OMICS_WLN ┆ Homo_sapi ┆ 9606      ┆ … ┆ 14/1/2016 ┆ 14/1/2016 ┆ 34116     ┆ 48199    │
│           ┆ 002_mock_ ┆ ens       ┆           ┆   ┆ 14:13:37  ┆ 14:13:37  ┆           ┆          │
│           ┆ pool_12_1 ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 8De…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 924880    ┆ OMICS_WLN ┆ Homo_sapi ┆ 9606      ┆ … ┆ 14/1/2016 ┆ 14/1/2016 ┆ 34116     ┆ 48199    │
│           ┆ 002_mock_ ┆ ens       ┆           ┆   ┆ 14:13:23  ┆ 14:13:23  ┆           ┆          │
│           ┆ pool_12_1 ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 8De…      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 1239692   ┆ null      ┆ null      ┆ null      ┆ … ┆ 9/5/2017  ┆ 9/5/2017  ┆ 34127     ┆ 48680    │
│           ┆           ┆           ┆           ┆   ┆ 16:47:18  ┆ 16:47:18  ┆           ┆          │
│ 270313    ┆ null      ┆ null      ┆ null      ┆ … ┆ 17/8/2013 ┆ 17/8/2013 ┆ 34134     ┆ 39968    │
│           ┆           ┆           ┆           ┆   ┆ 23:18:59  ┆ 23:18:59  ┆           ┆          │
│ 221748    ┆ null      ┆ null      ┆ null      ┆ … ┆ 10/3/2013 ┆ 10/3/2013 ┆ 34176     ┆ 39968    │
│           ┆           ┆           ┆           ┆   ┆ 20:49:46  ┆ 20:49:46  ┆           ┆          │
│ 1136247   ┆ null      ┆ null      ┆ null      ┆ … ┆ 22/12/201 ┆ 22/12/201 ┆ 34127     ┆ 48680    │
│           ┆           ┆           ┆           ┆   ┆ 6         ┆ 6         ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ 13:38:24  ┆ 13:38:24  ┆           ┆          │
│ 1136631   ┆ null      ┆ null      ┆ null      ┆ … ┆ 22/12/201 ┆ 22/12/201 ┆ 34114     ┆ 49660    │
│           ┆           ┆           ┆           ┆   ┆ 6         ┆ 6         ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ 17:43:31  ┆ 17:43:31  ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [13]:
dois_df = pl.read_csv("dois.csv")

In [14]:
dois_df['site_url'][0]

'https://release.my.emsl.pnnl.gov/released_data/1850470'

In [15]:
datasets_df = tkv_cleaned_df.join(dois_df, how="left", left_on="transaction_id", right_on="upload_id")

In [16]:
datasets_df

shape: (1_916_193, 11)
┌────────────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬──────┬──────────┐
│ transactio ┆ dataset_na ┆ organism   ┆ taxonomy_i ┆ … ┆ instrument ┆ project_i ┆ doi  ┆ site_url │
│ n_id       ┆ me         ┆ ---        ┆ d          ┆   ┆ _id        ┆ d         ┆ ---  ┆ ---      │
│ ---        ┆ ---        ┆ str        ┆ ---        ┆   ┆ ---        ┆ ---       ┆ str  ┆ str      │
│ i64        ┆ str        ┆            ┆ str        ┆   ┆ i64        ┆ str       ┆      ┆          │
╞════════════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪══════╪══════════╡
│ 778524     ┆ PSA1000pg_ ┆ Homo_sapie ┆ 9606       ┆ … ┆ 34215      ┆ 48505     ┆ null ┆ null     │
│            ┆ 1st_D_500u ┆ ns         ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ gserum_fra ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ …          ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│ 1223630    ┆ 2017_04_13 ┆ None       ┆ None       ┆ … ┆ 34011      ┆ 49712     ┆ null ┆ null     │
│            ┆ _Kyle_I_Ta ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ nnic_AGW_K ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ …          ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│ 1008331    ┆ QC_CHECKpr ┆ Homo_sapie ┆ 9606       ┆ … ┆ 34234      ┆ 48505     ┆ null ┆ null     │
│            ┆ eclean_23J ┆ ns         ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ un15_r5    ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│ 924881     ┆ OMICS_WLN0 ┆ Homo_sapie ┆ 9606       ┆ … ┆ 34116      ┆ 48199     ┆ null ┆ null     │
│            ┆ 02_mock_po ┆ ns         ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ ol_12_18De ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ …          ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│ 924880     ┆ OMICS_WLN0 ┆ Homo_sapie ┆ 9606       ┆ … ┆ 34116      ┆ 48199     ┆ null ┆ null     │
│            ┆ 02_mock_po ┆ ns         ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ ol_12_18De ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│            ┆ …          ┆            ┆            ┆   ┆            ┆           ┆      ┆          │
│ …          ┆ …          ┆ …          ┆ …          ┆ … ┆ …          ┆ …         ┆ …    ┆ …        │
│ 1239692    ┆ null       ┆ null       ┆ null       ┆ … ┆ 34127      ┆ 48680     ┆ null ┆ null     │
│ 270313     ┆ null       ┆ null       ┆ null       ┆ … ┆ 34134      ┆ 39968     ┆ null ┆ null     │
│ 221748     ┆ null       ┆ null       ┆ null       ┆ … ┆ 34176      ┆ 39968     ┆ null ┆ null     │
│ 1136247    ┆ null       ┆ null       ┆ null       ┆ … ┆ 34127      ┆ 48680     ┆ null ┆ null     │
│ 1136631    ┆ null       ┆ null       ┆ null       ┆ … ┆ 34114      ┆ 49660     ┆ null ┆ null     │
└────────────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴──────┴──────────┘

In [17]:
datasets_df = datasets_df.with_columns(("https://release.my.emsl.pnnl.gov/released_data/" + datasets_df['transaction_id'].cast(pl.String)).alias("site_url"))

In [18]:
datasets_df = datasets_df.with_columns(pl.lit("EMSL").alias("data_source"), pl.lit(46.348660).alias("latitude"), pl.lit(-119.278173).alias("longitude"))

In [19]:
datasets_df.columns

['transaction_id',
 'dataset_name',
 'organism',
 'taxonomy_id',
 'description',
 'created',
 'updated',
 'instrument_id',
 'project_id',
 'doi',
 'site_url',
 'data_source',
 'latitude',
 'longitude']

In [20]:
datasets_df = datasets_df.rename({'transaction_id': 'id', 'dataset_name': 'name', 'created':'date_created', 'updated': 'date_updated', 'site_url': 'url' })

In [21]:
vals = datasets_df[['organism', 'taxonomy_id', 'instrument_id']].to_dicts()

In [22]:
cleaned_vals = []
for val in vals:
    cleaned_val = {}
    for key in val:
        if val[key] != 'None':
            cleaned_val[key] = val[key]
    cleaned_vals.append(cleaned_val)

In [28]:
datasets_dict = datasets_df[["id", "name", "description","date_created","date_updated","instrument_id","project_id","doi","url","data_source","latitude","longitude"]].to_dicts()

In [30]:
new_vals = []
for val, metadata in zip(datasets_dict, cleaned_vals):
    new_val = val
    new_val['metadata'] = metadata
    new_vals.append(new_val)

In [ ]:
import json
with open('emsl_datasets.json', 'w') as f:
    f.write(json.dumps(new_vals))